*{
margin: 0px;
padding: 0px;

}

#contenedor{
    width: 900px;
    height:auto;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    border:rgb(158, 66, 116) 2px solid  ;
      
}

header{
text-align: center;
font-size: 30px ;
padding: 30px;
background-image: url(img/depositphotos_397124690-stock-illustration-laptop-and-mobile-phone-with.jpg);
}

#banner{
width: 600px; 
height: 250px;
float: right;
 }

#logo{
    width: 150px;
    height: 125px;
    background:violet ;
}
#logos{
    width:150px;
    height:125px;
    }
#explicacion{
    width: 150px;
     height: 125px;
    background: rgb(189, 21, 189);
}

#lado_izquierdo{
	width: 200px;
	height: 50px;
	margin-top: 10px;
    margin-left: 10px;
    float:left;
}


nav ul{
	list-style-position: inside;
    margin: 0px;
	padding: 0px;
}

nav ul li{
	float: left;
    padding: 12px;
    color: rgb(221, 48, 149);
	text-decoration: none;

}
nav ul li:hover{ background: rgb(24, 236, 218);}
	
main{
	background-image: url(img/fondo-pintura.jpg);
	
	margin-top: 10px;
}
#lado_izquierda{
	width: 200px;
	height: 400px;
	float: left;
    margin: 10px 10px 10px 0px;
    padding: 25px;
    border-style: solid;
    
}
article{
	width: 450px;
	height: 410px;
	float: left;
	background:#D692F9  ;
    margin: 0px 15px 15px 15px;
    padding: 25px;
    border-style: solid;
    border-color: rgb(189, 21, 189);
    border-width: 3px;
    
}

h1{
    font-size: xx-large;
    font-family: Georgia;
    font-weight: 700px;
    font-style: oblique;
    color:#FF0099 ;
}
h2{
font-size: medium;
text-align: center;
}
p{
    text-align: justify;
}

ol{
    list-style-type: square;
         }
#lado_derecha{
	width: 95px;
	height: 400px;
	float: right;
	margin: 5px 5px 5px 5px;
    padding: 15px;
    list-style-position: inherit;
      
}
h3{
    font-weight: 700px;
    text-align: center;
    color:#068596  ;
}

span{
    text-decoration:underline rgb(11, 226, 241);
    color:#FF0099 ;
    font-size: medium;
    font-weight: 500;
}
footer{
	background: pink;
	clear: both;
    text-align: center;
    color: blueviolet;
    font-size:small;
}
        
   


#fotomabe{
    width:50px;
    height:50px;
    border-style: solid;
    border-color: rgb(189, 21, 189);
    border-width: 3px;
    padding: 2px;
    margin:2px; 
    float: right;  
    }
    h5{
        text-align:right;
        color:#068596;
        font-family:Tahoma ;
        
    }

.clear{
    clear: both;
}